ion-header ion-toolbar {
  --border-width: 0 !important; /* Remove default border */
  --box-shadow: none !important; /* Remove default shadow */
  border-bottom: 1px solid var(--ion-color-primary);
}

ion-footer ion-toolbar {
  --border-width: 0 !important; /* Remove default border */
  --box-shadow: none !important; /* Remove default shadow */
  border-top: 1px solid var(--ion-color-primary);
}

ion-footer ion-toolbar ion-textarea {
  padding-left: 16px !important;
  display: flex;
  align-items: center;
}

.knowledge-agent-content {
  --background: url('../assets/B4W2.png') center / 60% auto no-repeat fixed;
}

@media (prefers-color-scheme: dark) {
  .knowledge-agent-content {
    --background: url('../assets/B4B2.png') center / 60% auto no-repeat fixed;
  }
}

.message-text-area {
  margin-bottom: 16px;
}

.user-message {
  --background: var(--ion-color-light);
  --color: var(--ion-color-dark);
  width: fit-content;
  max-width: 80%;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-right: 16px;
}

.api-message {
  --background: var(--ion-color-light-shade);
  --color: var(--ion-color-dark);
  margin-left: auto;
  width: fit-content;
  max-width: 80%;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 16px;
}

ion-tab-bar {
  --border-width: 0 !important;
  --box-shadow: none !important;
  border-top: 1px solid var(--ion-color-primary);
}
