.narrow-toast {
  --width: min(180px, 80vw);
  --min-height: 24px;
  --height: auto;
  --offset-top: 0px;
  top: 0 !important;
  transform: translateY(-10px);
  margin: 0;
}

.narrow-toast::part(message) {
  text-align: center;
  font-size: 0.71rem;
  padding: 0;
  line-height: 1.1;
}

.narrow-toast::part(container) {
  align-items: center;
  min-height: 24px;
  padding: 1px 2px;
}
